html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
	color: rgb(105, 105, 105);
}

.header {
	height: 80vh;
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.2),
		rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
}

.header h1 {
	text-transform: uppercase;
	letter-spacing: 6px;
	color: white;
	padding-top: 180px;
	text-align: center;
	font-weight: 400;
	font-size: 5rem;
}

.header h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	text-align: center;
	font-weight: 100;
	font-size: 2rem;
}

.navbar-default {
	background-color: rgba(255, 255, 255, .95);
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}

#park-container {
	margin-top: 50px;
}

#park-container h1 {
	margin-bottom: 40px;
	font-weight: 600;
	text-align: center;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.individual-park {
	margin-bottom: 20px;
	border-bottom: .9px solid #28b485;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.park-img img {
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 100%;
}

h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
}

h4 {
	text-transform: uppercase;
	font-weight: 300;
}

.survey-page {
	height: 100%;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
}

#survey {
	padding: 20px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	background-color: white;
}

.label {
	color: rgb(105, 105, 105);
}

.btn-primary {
	background-color: #28b485;
	border: #28b485;
}

#favorite-parks-page {
	background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.87),
		rgba(255, 255, 255, 0.87)), url(../img/Yos-NP.jpg);	
}

#favorite-parks-page h1 {
	margin-bottom: 40px;
	font-weight: 600;
	text-align: center;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fav-park {
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}


.four-forecast img {
	width: 100px;
}

.four-forecast {
	display: inline;
}

.error {
	color: #0080ff;
}