html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
	color: rgb(105, 105, 105);
}

.header {
	height: 80vh;
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.2),
		rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
}

.header h1 {
	text-transform: uppercase;
	letter-spacing: 6px;
	color: white;
	padding-top: 180px;
	text-align: center;
	font-weight: 400;
	font-size: 5rem;
}

.header h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	text-align: center;
	font-weight: 100;
	font-size: 2rem;
}

.navbar-default {
	background-color: rgba(255, 255, 255, .95);
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}

#park-container {
	margin-top: 50px;
}

#park-container h1 {
	margin-bottom: 40px;
	font-weight: 600;
	text-align: center;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.individual-park {
	margin-bottom: 20px;
	border-bottom: .9px solid #28b485;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.park-img img {
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 100%;
}

h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
}

a:hover {
	text-decoration: none;
}

h4 {
	text-transform: uppercase;
	font-weight: 300;
}

.survey-page {
	height: 100%;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
}

#survey {
	padding: 20px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	background-color: white;
}

.label {
	color: rgb(105, 105, 105);
}

.btn-primary {
	background-color: #28b485;
	border: #28b485;
}

#favorite-parks-page {
	background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.87),
		rgba(255, 255, 255, 0.87)), url(../img/Yos-NP.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
}

#favorite-parks-page h1 {
	margin-bottom: 40px;
	font-weight: 600;
	text-align: center;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fav-park {
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.park-info-img {
	margin-top: 30px;
}

.detail-head {
	margin-bottom: 30px;
}

.detail-container h1 {
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
	background: -webkit-linear-gradient(#7ed56f, #28b485);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.park-info-img .park-detail.info {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.park-desc {
	margin: 20px 20px 50px 20px;
}

h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	font-size: 1.8rem;
}

h6 {
	font-style: italic;
	text-align: center;
	font-weight: 600;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}

.weather-container {
	margin-bottom: 20px;
}

.today-forecast {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	margin-right: 100px;
}

.today-forecast img {
	max-width: 50%;
	margin-left: auto; margin-right : auto;
	display: block;
}

.today-forecast h3 {
	text-align: center;
}

.high-temp-today {
	font-weight: 500;
	color: rgba(105, 105, 105, .9);	
	
}

.four-forecast {
	text-align: center;
	margin: 0 5px 5px 5px;
	height: 190px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.four-forecast h6 {
	text-transform: uppercase !important;
}

.four-forecast img {
	width: 90px;
}

.four-forecast {
	display: inline-block;
}

.error {
	color: #0080ff;
}